@charset "UTF-8";
@import './utill.scss';

body{}

main{
    max-width: 640px;
    min-width: 360px;
    
    .userCard{
        width: 100%;
        height: 80px;
        padding: 0px 20px;
        background: $mainColor;
        color: $white;
        margin-bottom: 50px;

        .userHello{
            line-height: 30px;

            .userName{
                font-size: 20px;
                font-weight: bold;
            }
        }

        .userBarcode{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 200px;
            height: 70px;
            background: $white;
            box-shadow: $boxShadow;
            border-radius: 10px;
            transform: translateY(10px);

            div{
                width: 80%;
                height: 70%;
                background: url('../img/barCode.png') center center / contain;
            }
        }
    }

    .service{
        width: 100%;
        height: auto;
        padding: 0 20px;
        margin-bottom: 30px;

        ul{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            row-gap: 10%;
            width: 100%;
            height: 200px;
            color: $white;

            li{
                width: 30%;
                height: 45%;
                background: $mainColor;
                border-radius: $borderRadius;
                box-shadow: $boxShadow;
                
                a{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    row-gap: 5px;
                    width: 100%;
                    height: 100%;

                    i{
                        font-size: 30px;
                    }

                    span{
                        font-size: 14px;
                    }
                }
            }
        }
    }

    .serve{
        width: 100%;
        height: auto;
        padding: 0 20px;

        div{
            display: flex;
            justify-content: space-between;
            row-gap: 5px;
            width: 99.99%;
            height: 125px;
            box-shadow: $boxShadow;
            border-radius: $borderRadius;
            overflow: hidden;

            a{
                display: block;                
                width: 33.33%;
                height: 100%;
                
                span{
                    display: block;
                    width: 100%;
                    height: 35px;
                    line-height: 35px;
                    background: $mainColor;
                    color: $white;
                    text-align: center;
                }

                p{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 90px;
                    text-align: center;
                    font-size: 14px;
                    font-weight: bold;
                    color: $mainColor;
                    background: #f1f1f1;
                }
            }
        }
    }
}
